@import url("https://fonts.googleapis.com/css2?family=Tilt+Neon&family=Yrsa:wght@300;400;500;700&display=swap");

h1 {
    font-size: 4em;
}
body {
    height: 100vh;
    width: 100vw;
    font-family: "Yrsa", serif;
}

img {
    border-radius: 30%;
    box-shadow: 10px 10px 15px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 10px 10px 15px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 15px 0px rgba(0, 0, 0, 0.75);
}
.carousel {
    height: 100%;
    background: no-repeat;
    background-size: cover;
    background-image: url("./images/backgroundTwo2.jpg");
}

.carousel.carousel-slider .carousel-item {
    width: 80%;
}
.carousel-h2 {
    color: navy;
    text-shadow: 2px 2px 2px rgba(246, 241, 241, 0.6);
    font-size: 2.7em !important;
}
section {
    display: grid;
    align-items: center;
    justify-content: center;
}
li {
    list-style-image: url("./images/ukuleleIcon2.png");
    list-style-position: inside;
    text-shadow: 1px 1px 2px rgb(246, 241, 241);
    font-size: 1.5em;
}
.material-icons {
    color: navy;
    text-shadow: 1px 1px 2px rgb(246, 241, 241);
}
.splash-page {
    position: absolute;
    height: 100%;
    width: 100%;
    background: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    background-image: url("./images/backgroundOne.jpg");
    z-index: 99;
}
.splash-page h1,
.splash-page h2 {
    text-align: center;
    text-transform: uppercase;
    font-weight: 400;
    font-family: "Tilt Neon", cursive;

    width: 200px;
}
.splash-page h1 {
    animation: flicker 2.5s infinite alternate;
    margin-bottom: 150px;
}

.splash-page button {
    background: none;
    border: none;
    cursor: pointer;
}
.splash-r {
    display: inline-block;
}
.neon-text {
    color: #fff;
    text-shadow: 0 0 2px #fff, 0 0 4px #fff, 0 0 7px #fff, 0 0 7px #0fa,
        0 0 15px #0fa, 0 0 18px #0fa, 0 0 20px #0fa, 0 0 30px #0fa;
}
.neon-red-text {
    color: #fff;
    text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff, 0 0 42px #ff2f00,
        0 0 82px #ff2f00, 0 0 92px #ff2f00, 0 0 102px #ff2f00, 0 0 151px #ff2f00;
    animation: flickerRed 1.5s infinite alternate;
}

@keyframes blackout {
    0% {
        text-shadow: 0 0 4px #fff, 0 0 11px #fff, 0 0 19px #fff, 0 0 40px #0fa,
            0 0 80px #0fa, 0 0 90px #0fa, 0 0 100px #0fa, 0 0 150px #0fa;
    }
    10% {
        text-shadow: none;
    }
    20% {
        text-shadow: 0 0 4px #fff, 0 0 11px #fff, 0 0 19px #fff, 0 0 40px #0fa,
            0 0 80px #0fa, 0 0 90px #0fa, 0 0 100px #0fa, 0 0 150px #0fa;
    }
    30% {
        text-shadow: none;
    }
    60% {
        text-shadow: 0 0 8px #fff, 0 0 22px #fff, 0 0 30px #fff, 0 0 40px #0fa,
            0 0 80px #0fa, 0 0 90px #0fa, 0 0 100px #0fa, 0 0 150px #0fa;
    }
    70% {
        color: #fff;
        text-shadow: 0 0 4px #0fa, 0 0 8px #0fa, 0 0 12px #0fa, 0 0 16px #0fa,
            0 0 20px #0fa, 0 0 24px #0fa, 0 0 28px #0fa, 0 0 32px #0fa;

        transform: rotate(0deg);
        transform-origin: bottom left;
    }
    100% {
        text-shadow: 1.5px 1px 1px rgba(0, 0, 0, 0.6);
        color: rgba(0, 0, 0, 0.438);
        transform: rotate(60deg);
        transform-origin: bottom left;
    }
}
@keyframes flicker {
    0%,
    18%,
    22%,
    25%,
    53%,
    57%,
    100% {
        text-shadow: 0 0 2px #fff, 0 0 4px #fff, 0 0 7px #fff, 0 0 7px #0fa,
            0 0 15px #0fa, 0 0 18px #0fa, 0 0 20px #0fa, 0 0 30px #0fa;
    }
    20%,
    24%,
    55% {
        text-shadow: 0 0 0px #fff, 0 0 2px #fff, 0 0 3px #fff, 0 0 3px #0fa,
            0 0 7px #0fa, 0 0 9px #0fa, 0 0 10px #0fa, 0 0 15px #0fa;
    }
}

@keyframes flickerRed {
    0%,
    100% {
        text-shadow: 0 0 4px #fff, 0 0 11px #fff, 0 0 19px #fff,
            0 0 40px #ff2f00, 0 0 80px #ff2f00, 0 0 90px #ff2f00,
            0 0 100px #ff2f00, 0 0 150px #ff2f00;
    }
    50% {
        text-shadow: 0 0 2px #fff, 0 0 5px #fff, 0 0 8px #fff, 0 0 40px #701802,
            0 0 80px #701802, 0 0 90px #701802, 0 0 100px #701802,
            0 0 150px #701802;
    }
}
